/*Font and background of site styling*/
html, body {
  font-family: Arial, sans-serif;
  background-color: #192c3b;
}

/*Link styling*/
a:link {
  color: blue;
  text-decoration: underline;
}

/*Visited link styling*/
a:visited {
  color: gold;
}

/*H1 header tags styling*/
h1 {
  font-family: "Times New Roman";
  color: gold;
  margin-bottom: 0px;
  text-decoration: none !important;
}

h2 {
  color: white;
}

/*H3 header tags styling*/
h3 {
  color: white;
}

/*Hovering over a link styling*/
a:hover {
  color: gold;
  text-decoration: none;
}

/*Clear class*/
.clear {
  clear: both;
}

/*List styling*/
ul.navbar {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: 30px;
  background-color: #0f7f8b;
  outline-color: #ecf1d0;
}

/*Bulleted list styling*/
ul.navbar li {
  float: left;
  display: block;
  width: auto;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 30px;
  text-align: center;
}

/*Styling of second to last and last element on the list*/
li:nth-child(n+5) {
  float:right; 
  margin-right: 10px;
}

/*Styling of links on the list*/
li a:link, li a:visited {
   color: white;
   text-decoration: none;
}

/*Styling of links on the list upon uper hover*/
li a:hover {
  color: gold;
  text-decoration: none;
}

/*Styling of visited elements on the list*/
li#selected {
  background-color: blue;
}

/*Styling of bottom block*/
div#bottom {
  width: 100%;
  float: left;
  color: white;
}

/*Styling of center welcoming information*/
div#welcomeTitle {
  text-align: center;
  color: white;
}

/*Styling of header*/
#header {
  display:inline-block
}

/*Username appears at top*/
  #LoginAtTop {
    font-size: 20px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none !important;
    font-family: Arial;
  }

/*Box sizing information*/
* {box-sizing:border-box}

/*https://www.w3schools.com/howto/howto_js_slideshow.asp*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/*Color of active dot*/
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*Container at the foot of the page*/
/*http://jsfiddle.net/BYEw5/ */
.footerDiv > div {
    display: inline-block;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 30%;
    text-align: center;
}

/*Styles banner photos*/
#bannerPhotos, #bannerPhotos2, #bannerPhotos3 {
  width: 100%;
  max-height: 600px;
}

/*Styles dots*/
#allDots {
  text-align:center;
}

/*Styles short-form description in fillable form*/
#oLife {
  height:50px;
}

/*Styles long-form description in fillable form*/
#lLife {
  height:200px;
}

/*Slideshow animation*/
/*https://www.w3schools.com/howto/howto_js_slideshow.asp*/
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*Slideshow animation*/
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Makes button appear as normal text*/
/*https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link*/
#logoutButton {
  background:none!important;
  color:white;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
}


/*Makes button appear as normal text*/
/*https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link*/
#logoutButtonContentSame {
  background:none!important;
  color:white;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

/*Styles user settings*/
.setting {
  display: block;
  font-weight: normal;
  padding: 7px 3px;
  border-top: 1px solid #d6d1af;
  margin-bottom: 5px;
  color: white;
}
.setting span {
  float: left; 
  width: 250px;
  font-weight: bold;
}
.setting span img { 
  cursor: pointer;
}

img {
  border: solid black 1px;
}

#signin {
  text-align: left;
  width: 15%;
}

#details {
  float: right;
  display: block;
  width: 70%;
}

#docs {
  margin-top: 25%;
  clear: both;
}
#soldiers {
  float: right;
  width: 50%;
  margin-top: 5%;
  text-align: right;
}
#events {
  margin-top: 30%;
  clear: both;
}
#left {
  width: 50%;
  margin: 0;
  float: left;
  margin-top: 5%;
}

#whiteTextDiv {
  color: white;
}

.login {
  background-color: #f4c242;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 240px;
  margin: 20px auto 0;
  width: 298px;
}

#username, #password {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 37px;
  transition: box-shadow 0.3s;
  width: 240px;
}

#signInButton {
  width:240px;
  height:35px;
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  padding-top:6px;
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: chocolate;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 0px 0px #993300, 0px 5px 0px 0px #993300;
}

th, td {
    padding: 15px;
    text-align: left;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

/*Styles the page when the resolution is small*/
@media all and (max-width: 575px) {
  body {

  }

  /*List changes form*/
  li {
    margin-left: 0px;
    float: none;
    width: 100%;
  }

  /*List margin disapears*/
  li:first-child {
    margin: 0px;
  }

  /*Styling of second to last and last element on the list*/
  li:last-child {
    margin-right: 0px;
  }

  /*List changes form*/
  ul {
    height: 170px;
  }
}