<!DOCTYPE html>

<html lang="en">

<!--Title of Page-->
<head>
  <title>My Profile | In Their Own Words</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="Style.css" />
  <script src="jquery-3.3.1.min.js"></script>
  <script src="scripts-jquery.js"></script>
</head>

<body>

<!--Header-->
<div id = "Header">
  <h1>In Their Own Words: World War II</h1>
  <h1 id = "LoginAtTop">Welcome, <a href="myProfile.html">AdminUser!</a></h1>
</div>

<!--Shows the user's settings and account information-->
<section id="settings">
  <h2>AdminUser</h2>
  <button>Edit Settings</button>  <button>Delete Account</button>
        
  <p class="setting"><span>E-mail Address</span>dk95@gmail.com</p>

  <p class="setting"><span>Member Since</span>July 19, 2015</p>

</section>

<hr class="clear">

</body>