<!--A form that users can fill out.  Users can fill this form out to search for entries other characters have created and made public.-->
<!--https://www.w3schools.com/howto/howto_css_contact_form.asp-->
<div class="containerForForm">
  <form action="<?= $_ENV['SUBDIRECTORY'] ?>/app/views/SearchPersonScript.php" method="POST">
    <label for="lname">Character Last Name (Must be exact)</label>
    <input type="text" id="lname" name="lname" placeholder="Last name">
    <input type="submit" value="Submit" id="submitFancy">
  </form>
</div>